{% extends "layout.html" %}

{% block content %}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class="error" style="list-style-type:none;">
      {% for message in messages %}
        {% if "error" in message %}
          <li>{{ message }}</li>
        {% else %}
          <li>{{ message }}</li>
        {% endif %}
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}



<h3>Please enter the ISBN code.</h3>
<form action="/search" method="post">
  ISBN: <input type="text" name="isbn">
 <button type="submit" class="btn btn-primary">search</button>
</form>
<br><br>
<h3>Book List</h3>
{% if books %}
    <table class="table table-striped">
      <tr>
        <th scope="col">ISBN</th>
        <th scope="col">Title</th>
        <th scope="col">Author</th>
        <th scope="col">Pages</th>
        <th scope="col">Publisher</th>
        <th scope="col"></th>
      </tr>
      {% for book in books %}
        <tr>
          <td>{{ book[0] }}</td>
          <td>{{ book[1] }}</td>
          <td>{{ book[2] }}</td>
          <td>{{ book[3] }}</td>
          <td>{{ book[4] }}</td>
          <td>
            <form action="/delete" method="post">
              <input type="hidden" name="isbn" value="{{ book[0] }}">
              <button type="submit" class="btn btn-primary">delete</button>
            </form>
          </td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <h4>No books found in the database.</h4>
  {% endif %}
  <br><br>
<a href="/">Go back to the homepage</a>
{% endblock %}
